src/main/java/config/context.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="context"
	elementFormDefault="qualified">
	
	<element name="annotation-config"/>
	<element name="component-scan">
		<complexType>
			<attribute name="base-package" type="string"/>
		</complexType>
	</element>
	
</schema>